* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom right,
        rgb(82, 120, 163), 
        rgb(71, 158, 155)
    );
    display: grid;
    place-items: center;
}