* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(
        to bottom right,
        rgb(82, 120, 163), 
        rgb(71, 158, 155)
    );
    display: grid;
    place-items: center;
}

.fill {
    background-image: url("http://source.unsplash.com/random/250*250");
    width: 250px;
    height: 250px;
    background-size: cover;
    object-fit: cover;
    position: relative;
    top: 5px;
    left: 5px;
    cursor: pointer;
}

.empty {
    display: inline-block;
    width: 260px;
    height: 260px;
    border: 2px solid rgb(21, 54, 75);
    background-color: white;
    margin: 10px;
}

.hold {
    border: 4px solid #ccc;
}